body {
    background-color: #ffffff;
    color: #212529 ;
    font:  16px Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#mainHeader {
    text-align: center;
    background-color: #343a40 ;
}

.navigation-bar {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 1;
}

a[hRef] {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
}

a[hRef]:hover {
    color: #092e56;
    transform: scale(1.1);
}

#mainContent {
    padding: 20px;
    background-color: #f8f9fa ;
    min-height: 100vh;
}

.general-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.general-button:hover {
    background-color: #006de5;
}

.general-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

input {
    height: 20px;
}

.submit-button {
    background-color: #007bff;
    height: 27px;
    padding: 0 20px;
    line-height: 27px;
    margin-left: 10px;
    cursor: pointer;
}


.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    overflow: hidden;
}

li {
    padding: 2px;
    margin-bottom: 5px;
}

input[type="text"] {
    background-color: #ffffff;
    color: black;
}

input[type="datetime-local"] {
    background-color: #ffffff;
    color: black;
}

input:focus {
    background-color: #535865;
    color: white;
}




.player-details-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.player-details-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.player-name-header {
    font-size: 20px;
    margin-bottom: 15px;
}

.player-details-list {
    list-style: none;
    padding: 0;
}

.player-details-item {
    margin-bottom: 5px;
}

.href-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.href-button:hover {
    background-color: #0056b3;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination-container button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial, serif;
}

.title {
    color: grey;
    font-size: 18px;
}

.contact-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #007bff;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
}

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-image {
    width: 25px;
    height: 25px;
}
