a[hRef] {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
}

a[hRef]:hover {
    color: #092e56;
    transform: scale(1.1);
}

.general-button {
    background-color: #007bff;
    border: none;
    color: #222;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 800px;
}

.general-button:hover {
    background-color: #006de5;
}

.general-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.submit-button {
    background-color: #007bff;
    height: 50px;
    padding: 0 20px;
    margin-left: 5px;
    cursor: pointer;
}

.submit-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.player-details-container {
    min-width: 800px;
    min-height: 200px;
}


.remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    background: #222;
    list-style-type: none;
    margin: 2px;
    padding: 4px;
    overflow: hidden;
}

li {
    margin-bottom: 1px;
}

input[type="text"] {
    padding-left: 10px;
    background-color: #111;
    color: white;
    height: 50px;
    width: 800px;
}

input[type="number"] {
    padding-left: 10px;
    background-color: #111;
    color: white;
    height: 50px;
    width: 800px;
}


input[type="date"] {
    background-color: #111;
    color: white;
    height: 50px;
    width: 800px;
}

input:focus {
    background-color: rgba(17, 17, 17, 0.68);
}

.blue-letters {
    color: #007bff;
}

.player-name-header {
    font-size: 20px;
    margin-bottom: 15px;
}

.player-details-list {
    list-style: none;
    padding: 0;
}

.player-details-item {
    margin-bottom: 5px;
}

.href-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.href-button:hover {
    background-color: #0056b3;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination-container button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.card {
    background-color: #111;
    box-shadow: 0 4px 8px 0 rgb(21, 113, 206);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    font-family: arial, serif;
}

.card-a {
    text-decoration: none;
    font-size: 120px;
    color: #007bff;
    transition: color 0.3s ease;
    margin: 2px;
}

.card-a:hover {
    color: white; /
}

.title {
    color: grey;
    font-size: 18px;
}

.contact-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #007bff;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
}

.contacts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-image {
    width: 25px;
    height: 25px;
}

.sidebar {
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 120px;
    height: 100%;
}

.pagination-elems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-sessions-min-height {
    min-height: 360px;
}

.pagination-players-min-height {
    min-height: 100px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background: #000;
}

.light-mode {
    background-color: white;
    color: black;
}

.centered-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */

/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#mainContent {
    margin-left: 120px;
    background-color: #000000;
    color: white;
}