body {
    background-color: #656b77;
    color: #ffffff;
    font:  16px Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#mainHeader {
    text-align: center;
    background-color: #535865;
}

.navigation-bar {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: 1;
}

.navigation-bar:hover {
    background-color: #414552;
}

a.hRef {
    display: inline-block;
    color: #092e56;
    text-decoration: none;
}

a.hRef:hover {
    color: #1571ce;
    transform: scale(1.1);
}

#mainContent {
    padding: 20px;
    background-color: #414552;
    min-height: 100vh;
}

button {
    background-color: #535865;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #414552;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

input {
    height: 20px;
}

.submit-button {
    height: 25px;
    padding: 0 20px;
    line-height: 25px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 4px;
    padding: 4px;
    overflow: hidden;
}

li {
    padding: 2px;
    margin-bottom: 5px;
}

/* Modal Alert Styles */
.alert-modal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.alert-content {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
}

.alert-buttons {
    margin-top: 10px;
}

.alert-buttons button {
    background-color: #535865;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.alert-buttons button:hover {
    background-color: #414552;
}
